@import 'styles2.css';

h1 {
    color: red;
}

p, li {
    color: rgb(32, 30, 30);
}

span {
    border: 1px solid black;
    background-color: lime;
}

li {
    list-style-type: square;
}

li.special {
    color: orange;
    font-weight: bold;
}

/* Selects an em element within an li */
li em {
    color: ßrebeccapurple;
}

/* Selects the first paragraph after an h1 (but at the same level - a peer) */
h1 + p {
    font-size: 200%;
}

/* Selects the first "special" class element inside a paragraph, that's after an h1 in the body */
body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}

a:link {
    color: lightblue;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

.outer {
    border: 5px solid black;
    margin: 0px 20px 0px 20px;
}

.left-box {
    padding: 10px;
    background-color: rebeccapurple;
    color: white;
    width: calc(90% - 30px);
}

.box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
}

#winning {
    background-color: red;
    border: 1px solid black;
}

.better {
    color: white;
    padding: 5px;
    background-color: gray;
    border: none !important;
}
